@{
    ViewData["Title"] = "Welcome to PSIRA e-Recruitment";
}
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 mt-5">
                
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">PSIRA e-Recruitment</h1>
                    <p class="lead fw-normal text-muted mb-5">
                        Access a curated pool of PSIRA-certified security professionals, ensuring compliance and quality for your organization.
                        Our intuitive platform and intelligent matching features significantly reduce time-to-hire, connecting you with the right talent faster.
                    </p>
                   
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="btn btn-primary mx-2 g-2">Default button</a>
                        <a class="btn btn-outline-primary mx-2 g-2">Default button</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 px-5">
                <img src="~/images/psira.png" class="img-fluid d-block mx-auto" style="max-width: 300px;" />
            </div>
        </div>
    </div>
</header>


